body {

}

p {
  font-family: 'Raleway', sans-serif;
}

.top {
  background-blend-mode: lighten;
  #background-color: #D0F79B;
  background-color: rgba(255, 255, 255, 0.5);
  background-image:url("/assets/img/top.png");
  height: 110px;
}

.total {
  background-color: #8bae53;
  border-color: #4C6c5a;
  border-style: double;
  border-width: thick;
}

li {
  display: inline
}

.logo {
  margin: 5px 0px -5px 50px;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 2.5em;
  margin: -67px 50px 25px 170px;
}

.topnav {
  background-color: #4C6c5a;
  overflow: hidden;
}

.topnav a {
  color: #f2f2f2;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ddd;
  color: black;
}

li {
  display: inline
}

.botnav {
  background-color: #4CAF50;
  overflow: hidden;
}

.botnav a {
  color: #f2f2f2;
  float: left;
  font-size: 17px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.botnav a:hover {
  background-color: #ddd;
  color: black;
}

.botnav a.active {
  background-color: #ddd;
  color: black;
}
